/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: cornflowerblue;
  /* overflow: hidden; */
  position: fixed;
  bottom: 0;
  width: 320px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 0.5rem;
  box-shadow: 0px -20px 10px -10px rgba(0, 0, 0, 10%);
}

@media (max-width: 425px) {
  .navbar {
    width: 100%;
  }
}
/* Style the links inside the navigation bar */
.navbar a {
  /* float: left; */
  display: block;
  color: aliceblue;
  text-align: center;
  padding: 20px 0.9rem;
  text-decoration: none;
  /* border: 0.01rem solid aliceblue; */
  border-radius: 0 0 2rem 2rem ;
  font-size: 12px;
  font-weight: 500;
  font-smooth: inherit;
  transition: all 0.5s ease-in-out;
}

/* Change the color of links on hover */
/* .navbar a:hover {
  background-color: yellowgreen;
  color: black;
  border-radius: 1rem;
} */

/* Add a color to the active/current link */
/* , a:focus, a:active */
.navbar a.active {
  background-color: white;
  color: cornflowerblue;
  border-radius: 0 0 2rem 2rem ;
  box-shadow: 0px -15px 5px 0px rgba(256, 256, 256, 50%);
}